{% extends "index.html" %}

{%block head %}<title>Sign Up</title>{% endblock %}

{% block navbar %}
    <ul class="nav-links">
        <li><a href="/login">Log In</a></li>
    </ul>
{% endblock %}

{% block body %}
<form class="signup-form">
    <label for="username">Username</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password</label><br>
    <input type="text" id="password" name="password"><br>
    <label for="cfm-password">Confirm Password</label><br>
    <input type="text" id="cfm-password" name="cfm-password">
</form>
{% endblock %}